{% extends "abdallah/base.html" %}
{% load i18n %}

{% block content %}
<h1 class="page-header">
<a href="{{ build.project.get_absolute_url }}">{{ build.project }}</a> -
<b>Build #{{ build.number }}</b>
</h1>

<div class="list-group">
{% for job in jobs %}
<li class="list-group-item list-group-item-{{ job.get_css_class }}">
<b><a href="{{ job.get_absolute_url }}">#{{ job.build.number }}.{{ job.number }}</a></b>:
<div class="pull-right">
{{ job.date }}
{% if job.elapsed_time %}<small>(in {{ job.elapsed_time }} seconds)</small>{% endif %}
<b>{{ job.get_status_display }}</b>
</div>
</li>
{% empty %}
<li class="list-group-item">{% trans "No job launched" %}</a></li>
{% endfor %}
</ul>
{% endblock %}
